.join-main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.join-text {
    font-size: 3.5em;
    font-weight: bold;
    margin: 0;
}
.accent-text {
    color: #BC3A80;
}
.join-form {
    background-color: #202027;
    width: 50vw;
    max-width: 50%;
    padding: 2rem 4rem;
    border-radius: 20px;
}

.input-group {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.input-group:last-child {
    margin-bottom: 0;
}

.input-group label {
    font-weight: bold;
    margin-bottom: .5rem;
}

.input-group input {
    outline: none;
    background: none;
    border: 1px solid #1762A7;
    border-radius: 10px;
    font-size: 1em;
    padding: .5em;
    color: inherit;
}
.input-group input:focus {
    border-color: #596da0;
}

@media (max-width: 900px) {
    .join-main-section {
        flex-direction: column;
        justify-content: center;
    }
    .join-form {
        width: 80vw;
        max-width: inherit;
        margin: 2rem 0;
    }
}

.join-page-circle-1 {
    position: absolute;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background-color: #bc3a7f20;
    bottom: 1vw;
    left: 1vw;
    z-index: -1;
}
.join-page-circle-2 {
    position: absolute;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background-color: #1762A720;
    top: 15vh;
    left: 30vw;
    z-index: -1;
}
.join-page-circle-3 {
    position: absolute;
    overflow: hidden;
    width: 45vw;
    height: 45vw;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.join-page-circle-3::before {
    content: "";
    transform: translate(40%, 40%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: #1762A720;
}